{extends 'base.latte'}
{block podsekce}Nový odběratel{/block}
{block content}
<h2>Potvrzení vložení nového odběratele</h2>
<p>Byly nalezeni již uložení odběratelé s podobnými údaji. Zkontrolujte, zda opravdu chcete vytvořit nového odběratele:</p>
<p>Podobní odběratelé:</p>
<table>
    <tr>
	<th>Název</th>
	<th>Adresa</th>
	<th>Mail</th>
	<th>Telefon</th>
	<th>Kontaktní osoba</th>
    </tr>
</table>