<ul class="group" id="menu_group_main">
    <li class="item first" id="one"><a n:href='odberatele:' class="main{if ($mainItem=='odberatele')} current{/if}"><span class="outer"><span class="inner users">Odběratelé</span></span></a></li>
    <li class="item middle" id="two"><a n:href='faktury:' class="main"><span class="outer{if ($mainItem=='odberatele')} current{/if}"><span class="inner content">Faktury</span></span></a></li>
    <li class="item last" id="eight"><a n:href="konfigurace:" class="main"><span class="outer{if ($mainItem=='odberatele')} current{/if}"><span class="inner settings">Konfigurace</span></span></a></li>        
</ul>